.tree{
    max-width: 710px;
}

/*.tree div.treeBranch{
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px 0 10px 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
    min-height: 35px; 
}*/

.tree div.treeBranch, .tree div.mainBranch{
    position: relative;
    margin-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    min-height: 35px;
    transition: .5s;
}

.tree div.male{
    background: #bad1f1;
}

.tree div.male:hover{
    transition: .5s;
    box-shadow: -2px -2px 4px #7ca5de, 2px 2px 4px #7ca5de, -2px 2px 4px #7ca5de, 2px -2px 4px #7ca5de;
}

.tree div.female{
    background: #efa1df;
}

.tree div.female:hover{
    transition: .5s;
    box-shadow: -2px -2px 4px #c67eb8, 2px 2px 4px #c67eb8, -2px 2px 4px #c67eb8, 2px -2px 4px #c67eb8;
}

.tree div.mainBranch{
    display: block;
    margin-bottom: 40px;
    background: #ffdacb;
    margin: 0 auto;
    max-width: 350px;
}

.tree div.mainBranch:after{
    content: '';
    display: block;
    width: 350px;
    height: 40px;
    bottom: -40px;
    position: absolute;
    background: url(../img/mainBranch.png);
}

.tree .firstLine div{
    margin-top: 40px;
    min-width: 320px;
    margin-right: 55px;
}

.tree .firstLine div:after{
    content: '';
    position: absolute;
    bottom: -40px;
    left: 25px;
    display: block;
    width: 275px;
    height: 40px;
    background: url(../img/firstLine.png);
}

.tree .firstLine div:last-child{
    margin-right: 0;
}

.tree .secondLine div{
    min-width: 150px;
    margin-right: 29px;
}

.tree .secondLine div:last-child{
    margin-right: 0;
}